@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
/*block1*/
body{
    margin: 0;
}
.head .inner{
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.head{
    width: 100%;
    background: #242424;
}
.inner{
    width: 1140px;
    margin: 0 auto;
}
.text{
    font-family: Open Sans;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 45%;
    white-space: nowrap;
    padding: 17px;
}
.mail{
    display:flex;
    margin-left: 110px;
}
.email{
    padding: 12px 1px;
}
.email__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40%;
    color: #FFFFFF;
    padding: 14px;
}
.card{
    display: flex;
    margin-left: 169px;
}
.visa{
    padding: 11px 15px;
}
.mastercard {
    padding: 9px ;
}
/*block2*/
.head__2{
    width: 100%;
}
.head__2 .inner{
    display: flex;
    justify-content: flex-start;
    height: 100px;
}
.icon{
    padding: 15px ;
}
.info{
    display: flex;
    margin-left: 62px;
}
.info a{
    color: rgba(48, 48, 48, 0.5);
}
.can{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40%;
    color: rgba(48, 48, 48, 0.5);
    white-space: nowrap;
    padding: 15px ;
}
.but{
    width: 211px;
    height: 50px;
    background: #FF4545;
    margin-top: 15px;
    margin-left: 100px;
    display: flex;
}
.red p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FFFFFF;
    padding: 0 20px 20px 20px   ;
    white-space: nowrap;
}
.red a{
    color: #FFFFFF;
}
.lin{
    width: 1170px;
    height: 3px;
    background: #FF4545;
    margin-top: -15px;
    margin-left: 5px;
}
.buttoms{
    display: flex;
}
.price{
    width: 101px;
    height: 50px;
    background: #FF4545;
    margin-top: 15px;
    margin-left: 5px;
}
.price p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FFFFFF;
    padding: 0 20px 20px 20px;
}
.price a{
    color: #FFFFFF;
}
.price_2{
    width: 211px;
    height: 50px;
    border: 2px solid #FF4545;
    box-sizing: border-box;
    margin:15px 0 0 40px;
}
.price_2 p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FF4545;
    padding: 0 19px 18px 18px;
    white-space: nowrap;
}
.price_2 a{
    color: #FF4545;
}
.price_3{
    width: 211px;
    height: 50px;
    border: 2px solid #FF4545;
    box-sizing: border-box;
    margin: 15px 0 0 40px;
}
.price_3 p {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FF4545;
    padding: 0 19px 18px 18px;
    white-space: nowrap;
}
.price_3 a{
    color: #FF4545;
}
.price_4{
    width: 211px;
    height: 50px;
    border: 2px solid #FF4545;
    box-sizing: border-box;
    margin: 15px 0 15px  40px;
}
.price_4 p {
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FF4545;
    padding: 0  19px 18px 20px;
    white-space: nowrap;
}
.price_4 a{
    color: #FF4545;
}
.phone{
    margin: 29px 0 0 37px;
}
.number{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 70%;
    color: rgba(48, 48, 48, 0.5);
    margin: 27px 0 0 8px;
    white-space: nowrap;
}
.cart{
    margin: 31px 0 0 80px;
}
.head__2__bot{
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
}
.block2{
    display: flex;
}
.content{
    background-image: url("image/worker.svg");
    height: 502px;
    background-repeat: no-repeat;
    margin-top: -47px;
    width: 1170px;
}
.content p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 60px 470px 258px 68px;
}
.catalog {
    width: 195px;
    height: 70.28px;
    background: #FF4545;
    margin-top: -260px;
    margin-left: 70px;
}
.catalog p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50%;
    color: #FFFFFF;
    padding: 29px 47px 28px 46px;
}
.catalog a{
    color: #FFFFFF;
}
.arrow_left{
    padding: 90px 0 0 70px;
}
.arrow_top{
    width: 21px;
    height: 7px;
    background: #A8A8A8;
    transform: matrix(-0.71, 0.71, -0.7, -0.71, 0, 0);
}
.arrow_down{
    width: 21px;
    height: 7px;
    background: #A8A8A8;
    transform: matrix(-0.71, -0.71, 0.7, -0.71, 0, 0);
    margin-top: 4px;
}
.arrow_right{
    padding-left: 1080px;
    margin-top: -18px;
}
.arrow_top_right{
    width: 20.04px;
    height: 6.68px;
    background: #A8A8A8;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
}
.arrow_down_right{
    width: 20.04px;
    height: 6.68px;
    background: #A8A8A8;
    transform: matrix(0.71, -0.71, 0.7, 0.71, 0, 0);
    margin-top: 4px;
}
.range{
    display: flex;
    margin-left: 570px;
    margin-top: -28px;
}
.circle{
    width: 10px;
    height: 10.04px;
    background: #A8A8A8;
    border-radius: 50px;
    margin: 5px;
}
.circle--red{
      background: #FF4545;
}
.pick{
    width: 1150px;
    height: 320px;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    background: rgba(255, 69, 69, 0.5);
    margin-top: 100px;
    outline: 10px solid rgba(255, 69, 69, 0.5);
    margin-bottom: 30px;
}
h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40%;
    text-align: center;
    color: #303030;
    padding-top: 43px;
}
.pick p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #303030;
    padding-top: 20px;
}
ol{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #303030;
    padding-left: 225px;
}
.title{
    margin: 120px 0 0 54px;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #303030;
}
.title p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: rgba(48, 48, 48, 0.8);
    margin-top: 50px;
}
.sort{
    background-image: url("image/sort.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 328px;
    margin-bottom: 30px;
}
.sort p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40%;
    color: #FFFFFF;
    padding: 30px 831px 280px 70px;
    white-space: nowrap;
}
.sort a{
    color: #303030;
}
.my-flex-cont {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: -305px;
    margin-left: -10px;
}
.my-flex-box {
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-flex-cont p{
    width: 174px;
    height: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50%;
    color: #303030;
    padding: 30px 33px 44px 33px;
}
.my-flex-box-2{
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-flex-box-2 p{
    padding: 30px 88px 44px 88px;
}
.my-flex-box-3{
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-flex-box-3 p{
    padding: 30px 10px 44px 9px;
}
.pipes{
    background-image: url("image/pipes.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 328px;
}
.pipes p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40%;
    color: #FFFFFF;
    padding: 30px 831px 280px 70px;
    white-space: nowrap;
}
.pipes a{
    color: #303030;
}
.pipes_block{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: -305px;
    margin-left: -10px;
}
.pipes_1,.pipes_2,.pipes_3{
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pipes_1 p{
    width: 174px;
    height: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    padding: 25px 40px 44px 30px;
    text-align: center;
}
.pipes_2 p{
    width: 174px;
    height: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    padding: 15px 27px 33px 27px;
    text-align: center;
}
.pipes_3 p{
    width: 174px;
    height: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    padding: 1px 27px 33px 27px;
    text-align: center;
}
.list{
    background-image: url("image/list.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 328px;
    margin-top: 30px;
}
.list a{
    color: #303030;
}
.list p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40%;
    color: #FFFFFF;
    padding: 30px 831px 280px 70px;
    white-space: nowrap;
}
.list_block{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: -305px;
    margin-left: -10px;
}
.list_1 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50%;
    color: #303030;
    padding: 30px 27px 33px 63px;
    white-space: nowrap;
    text-align: center;
}
.list_1,.list_2{
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.list_2{
    margin: 27px -55px -5px 75px;
    flex: 0 1 auto;
    width: 240px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.list_2 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #303030;
    padding: 17px 27px 33px 20px;
    white-space: nowrap;
    text-align: center;
}
.title_2{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #303030;
    margin-top: 100px;
    margin-left: 68px;
}
.block_1{
    width: 250px;
    height: 380px;
    background: #FFFFFF;
    border: 2px solid #FF4545;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    margin-top: 107px;
}
.block_1 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50%;
    color: #303030;
    text-align: center;
}
.block_1 img{
    margin-top: 15px;
}
.price_block{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #303030;
    padding-top: 24px;
}
.fast_price{
    width: 250px;
    height: 68px;
    background: #FF4545;
    margin: -2px;
}
.fast_price p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 23px;
}
.fast_price a{
    color: #FFFFFF;
}
.fast_price_2 a{
    color: #FFFFFF;
}
.fast_block{
    display: flex;
    justify-content: space-between;
}
.block_pl{
    width: 250px;
    height: 380px;
    background: #FFFFFF;
    border: 2px solid #FF4545;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    margin-top: 107px;
}
.block_pl p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50%;
    color: #303030;
    text-align: center;
}
.block_pl img{
    margin:15px 46px 15px 47px;
}
.price_block{
    padding: 31px 87px 10px 88px;
}
.fast_price_2 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 23px;
}
.fast_price_2{
    width: 250px;
    height: 68px;
    background: #FF4545;
    margin: -2px;
    margin-top:-7px;
}
.shield{
    background-image: url("image/shield.svg");
    width: 540px;
    height: 640px;
    margin: 120px 0 0 293px;
    background-repeat: no-repeat;
   }
.shield{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: #303030;
    text-align: center;
    white-space: nowrap;
    padding: 50px 10px;
}
.title_5{
    width: 981px;
    height: 39px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: rgba(48, 48, 48, 0.8);
    margin: -20px -210px;
}
.icon_red{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -360px;
}
.box  p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #303030;
    padding-left: 10px;
}
.box img{
    margin: 0 0 0 55px;
}
.box{
    margin: -40px 0 0px 80px;
}
.pictur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.p1 img{
    margin-top: 94px;
}
.title_6{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #303030;
    margin-left: 52px;
    margin-top: 300px;
}
.p1 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #303030;
    margin-top: 10px;
}
.p1 .date{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40%;
    color: rgba(48, 48, 48, 0.6);
}
.p1 .watch{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40%;
    color: rgba(48, 48, 48, 0.6);
    margin-top: 40px;
}
.watch a{
    color: rgba(48, 48, 48, 0.6);
}
.line_grey{
    width: 93px;
    height: 2px;
    background: rgba(48, 48, 48, 0.6);
}
.title_7{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    color: #303030;
    margin: 120px 0 0 52px;
}
.left{
    margin-top:120px;
}
.left p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #303030;
    margin: -40px 0 0 100px;
}
.mail_text p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60%;
    color: #303030;
    margin-top: -22px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.left img{
    margin: 50px 0 0 48px;
}
.social_network{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #303030;
    margin: 40px 0 0 52px;

}
.social_img{
    display: flex;
    margin:10px 0 0 -10px ;
}
.social_img img{
    padding: 10px;
}
.right{
    margin: -470px 0 0 500px;
}
.back img{
    margin: 46px 0 0 0;
}
.price_8{
    width: 101px;
    height: 50px;
    background: #FF4545;
}
.price_8 p{
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50%;
    color: #FFFFFF;
    padding: 20px 20px 20px 20px;
}
.price_8 a{
    color: #FFFFFF;
}
.back{
    width: 100%;
    height: 425px;
    background: #C4C4C4;
    margin-top: 120px;
}
.catalog_8{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #FF4545;
    margin-top: 60px;
}
.catalog_8 p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 13px;
    text-align: left;
    color: #303030;
}
.text_8 a{
    margin-top: 30px;
}
.asd{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 272px;
    height: 191px;
    background: #C4C4C4;
    border: 3px solid #FF4545;
    box-sizing: border-box;
    margin-top: 50px;
}
.form-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #303030;
    padding: 20px 20px 0 20px;
    white-space: nowrap;
}
.form_fill p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30%;
    color: rgba(0, 0, 0, 0.4);
    padding: 7px 0 6px 6px;
}
.f_text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30%;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 132px 0 21px;
    white-space: nowrap;
}
input{
    margin: 15px 0 0 20px;
}

.check p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 50%;
    color: #303030;
    white-space: nowrap;
    margin: -13px 0 30px 40px;
}
.but_form{
    width: 140px;
    height: 30px;
    background: #FF4545;
    margin: -15px 113px 20px 19px;
}
.but_form p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 70%;
    color: #FFFFFF;
    padding: 10px 15px 10px 16px;
}
.but_form a{
    color: #FFFFFF;
}
.black{
    width: 100%;
    height: 60px;
    background: #242424;
}
.text_footer{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30%;
    color: #FFFFFF;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footer_img  {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}
.pay{
    margin:-30px 10px 0 0;
}
.shield_red{
    margin:-10px 0 35px 40px;
}
.money{
    margin: -10px 0 35px 0;
}
a:hover  {
    background: gray;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.text_8 a{
    color: #303030;
}
.form_2{
    margin: -33px 0 0 3px;
}
.link_1:hover{
    background: none;
}
.end_text{
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 70%;
    color: #FFFFFF;
    margin-right: 220px;
}
.end_text p{
    padding-left: 20px;
}
h6{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 70%;
    color: #303030;
}