body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.display{
    width: 300px;
}
table{
    background: linear-gradient(to top,#3BAEE4,#ffe2e2);
    border-spacing: 3px;
    margin: 200px;
}
input[type= button] {
    width: 60px;
    height: 40px;
    background-color: white;
    margin: 3px;
}
