@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@400;600&display=swap');

body{
    margin: 0;
}
.inner{
    width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.inner__block5{
    background-image: url(image/Mask.png);
    background-repeat: no-repeat;
    width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.head{
    background-image: url("image/Background.svg");
    width: 100%;
    height: 601px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 113px;
    margin-left: 122px;
}

.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 116.7%;
    color: #FFFFFF;
    white-space: nowrap;
    margin-left: 123px;
}
.download{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 198px;
    margin-left: 122px;
    display: flex;
    align-items: center;
}
.pin::after{
    margin-left: 45px;
    margin-top: 116px;
    width: 82px;
    height: 82px;
}
.phone{
    margin-top: 73px;
}
.block2{
    background: #FFFFFF;
    height: 700px;
    width: 100%;
}
h2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
    margin-top: 186px;
    margin-left: 122px;
    white-space: nowrap;
}
.app{
    margin-left: 22px;
}
.google{
    margin-left: 16px;
}
.title__black{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-top: 35px;
    margin-left: 122px;
}
.download__black{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    margin-top:88px ;
    margin-left: 122px;
    display: flex;
    align-items: center;
}
.app_black{
    margin-left: 22px;
}
.google__black{
    margin-left: 16px;
}
.picture1{
    margin-right: 50px;
    display: flex;
    align-items: center;
    margin-left: 187px;
    margin-top: 50px;
}
.picture_1__text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #D13855;
}
.text__picture2{
    font-family: Source Sans Pro;
    display: flex;
    align-items: center;
    margin-left: 537px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #91BE48;
    margin-top: -134px;
}
.picture3{
    display: flex;
    align-items: center;
    margin-left: 187px;
    margin-top: -100px;
}
.text__picture3{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #2C5074;
    margin-left: 30px;
}
.block3{
    background: linear-gradient(244.05deg, #B8B042 -0.27%, #B8B042 -0.26%, #559F54 100%);
    height: 800px;
    width: 100%;
}
.block3 .inner {
    display: flex;
    flex-direction: column;
}
.pin2{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 382px;
    margin-top:60px;
    white-space: nowrap;
}
.x{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 180px;
    margin-left: -885px;
}
.z{
    white-space: nowrap;
}
.phone2{
    margin-top: -500px;
    margin-left: -400px;
}
.c{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -630px;
}
.block4{
    height: 658px;
    background: linear-gradient(180deg, #5B63D9 0%, #3BAEE4 100%);
    width: 100%;
}
.title3{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    color: #FFFFFF;
    margin-top: 224px;
    white-space: nowrap;
}
.text{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 124px;
    margin-top: 35px;
}
.phone3{
    margin-right: 62px;
}
.cal{
    padding: 25px 12px 22px 15px;
}
.pink__block{
    width: 150px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 0 10px 10px 0;
    margin-left: 48px;
    margin-top: -95px;
}
.up{
    padding: 25px 12px 22px 15px;
}
.block5__left{
    height: 688px;
    width: 100%;
    background-repeat: no-repeat;
}
.caption{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-top: 210px;
    white-space: nowrap;
}
.title__end{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-top: 31px;
    white-space: nowrap;
    margin-right: 60px;
}
.download__end{
    font-family: 'Source Sans Pro', sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    margin-top:45px;
    display: flex;
    align-items: center;
}
/*3 block fixed*/
.title_block2 {
    font-family: Roboto Condensed;
    white-space: nowrap;
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 0;
}
.block3__content {
    display: flex;
    flex-direction: row;
}

.sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block3__content > div {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
}

.block__center {
    font-family: Source Sans Pro;
    display: flex;
    justify-content: center;
}
.new-amway__item {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    padding: 15px 30px 15px 30px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 63px;
    position: relative;
}
.new-amway__item--n2 {
    margin-left: 42px;
}
.new-amway__item--n4,
.new-amway__item--n6 {
    margin-left: 2.5%;
}
.new-amway__item--n5 {
    margin-left: 65px;
}
.new-amway__item:after{
    content: ' ';
    position: absolute;
    margin-left: 23px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}
.new-amway__item p {
    margin: 0;
}
.block3__right .sub-title {
    margin-left: calc(30px + 2.5%);
}
.block4__right{
    font-family: 'Source Sans Pro', sans-serif;
}
.feature {
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-top: 109px;
    width: 236px;
}
.feature__icon {
    max-width: 48px;
    width: 48px;
    display: flex;
    background: #94D9BB;
    border-radius: 10px 0 0 10px;
}
.feature__icon img {
    margin: auto;
}
.feature__text {
    padding: 20px 0 20px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #333;
}
.marine{
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-top: 24px;
    width: 236px;
}
.sub{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.marine__icon{
    max-width: 48px;
    width: 42px;
    background: #3BAEE4;
    border-radius: 10px 0 0 10px;
    padding: 27px 1px 27px 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.marine__icon p{
    margin: auto;
}
.marine__text{
    padding: 14px 12px 12px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #333;
}
.pink{
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-top: 24px;
    width: 195px;
}
.pink__icon{
    max-width: 48px;
    width: 48px;
    display: flex;
    background: #DF488B;
    border-radius: 10px 0 0 10px;
}
.pink__icon img{
    margin: auto;
}
.pink__text{
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #333333;
    border-radius: 10px;
}
.indigo{
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-top: 24px;
    width: 254px;
}
.indigo__icon{
    max-width: 48px;
    width: 48px;
    display: flex;
    background: #5B63D9;
    border-radius: 10px 0 0 10px;
}
.indigo__icon img{
    margin:auto;
}
.indigo__text{
    padding: 12px 0 7px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #333333;
    border-radius: 10px;
}
.yellow{
    display: flex;
    background: #fff;
    border-radius: 10px;
    margin-top: 24px;
    width: 293px;
}
.yellow__icon{
    max-width: 48px;
    width: 48px;
    display: flex;
    background: #FDD130;
    border-radius: 10px 0 0 10px;
}
.yellow__icon img{
    margin: auto;
}
.yellow__text{
    padding: 12px 0 7px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #333333;
    border-radius: 10px;
}
@media screen and (max-width: 380px){
    .inner{
        flex-direction: column;
        width: 100%;
    }
    main{
        height: 667px;
    }
    .head{
        width: 379px;
        height: 667px;
    }
    .pin{
        width: 177px;
        margin-left: 32px;
        margin-top: 46px;
        display: flex;
        white-space: nowrap;
        font-size: 42px;
        line-height: 49px;
    }
    .pin img{
        width: 60px;
        height: 60px;
        margin-left: 30px;
    }
    .title{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 116.7%;
        color: #FFFFFF;
        margin-left: 30px;
        margin-top: 26px;
    }
    .download{
        font-weight: 600;
        font-size: 14px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .app img{
        width: 109px;
        height: 36px;
        margin-left: -15px;
    }
    .google img{
        width: 124.5px;
        height: 36.89px;
    }
    .phone img{
        width: 300px;
        height: 300px;
        margin-top: 17px;
        margin-left: 32px;
    }
    .block2{
        width: 379px;
        height: 877px;
    }
    h2{
        font-size: 38px;
        line-height: 45px;
        margin-left: 30px;
        margin-top: 45px;
    }
    .title__black{
        font-size: 18px;
        line-height: 23px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .picture1 img{
        width: 173px;
        height: 152.36px;
        margin-left: -180px;
    }
    .picture_1__text{
        font-size: 18px;
        line-height: 23px;
    }
    .text__picture2{
        font-size: 18px;
        line-height: 23px;
        margin-top: 23px;
        margin-left: 50px;
    }
    .picture2 img{
        width: 173px;
        height: 165px;
        margin-left: 30px;
    }
    .picture3 img{
        width: 173px;
        height: 153.72px;
        margin-top: 82px;
        margin-left: -180px;
    }
    .text__picture3{
        font-size: 18px;
        line-height: 23px;
        margin-top: 77px;
        margin-left: 30px;
    }
    .download__black{
        position: absolute;
        margin-top: 600px;
        margin-left: 32px;
        font-weight: 600;
        font-size: 14px;
    }
    .app_black img{
        width: 109px;
        height: 36px;
        margin-left: -15px;
    }
    .google__black img{
        width: 124.5px;
        height: 36.89px;
        margin-right: 30px;
    }
    .block3{
        width: 379px;
        height: 560px;
    }
    .title_block2{
        font-size: 38px;
        line-height: 45px;
        margin-top: 45px;
    }
    .sub-title{
        font-size: 15.6037px;
        line-height: 120.7%;
        margin-left: 30px;
    }
    .sub{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 15.6037px;
        line-height: 120.7%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        margin-right: 30px;
    }
    .block__center img{
        margin-left: 196px;
        margin-top: 104px;
        margin-right: 23px;
        width: 156px;
        height: 307.03px;
        background-image: url("image/adaptif_phone_2.png");
    }
    .new-amway__item {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-left: 30px;
        margin-bottom: 33px;
    }
    .item--1{
        padding: 13px 27px 10px 18px;
        white-space: nowrap;
        width: 90px;
        margin-top: 42px;
    }
    .new-amway__item--n2{
        margin-top: 100px;
        position: absolute;
        padding: 13px 11px 12px 16px;
        white-space: normal;
        width: 125px;
        word-wrap: normal;
    }
    .item--3{
        padding: 12px 19px 12px 18px;
        word-wrap: normal;
        width: 110px;
    }
    .new-amway__item--n4,.new-amway__item--n5,.new-amway__item--n6{
        display: none;
    }
    new-amway__item:after {
        content: ' ';
        position: absolute;
        margin-left: -2px;
        border: 18px solid;
        border-color: #fff transparent transparent #fff;
    }
    .block4{
        width: 379px;
        height: 717px;
    }
    .title3{
        font-family: Roboto Condensed;
        font-size: 38px;
        line-height: 45px;
        margin-top: 45px;
            margin-left: 31px;
    }
    .text{
        font-size: 18px;
        line-height: 23px;
        margin-left: 31px;
        margin-top: 20px;
    }
    .phone3 img{
        display: none;
    }
    .block4__right{
        margin-left: 31px;
        margin-top: -70px;
    }
    .feature--green{
        width: 315px;

    }
    .marine{
        width: 315px;
    }
    .pink{
        width: 315px;
    }
    .indigo{
        width: 315px;
    }
    .yellow{
        width: 315px;
    }
    .inner__block5{
        background-size: 376px 320px;
        margin-top: 16px;
        background-image: url("image/adaptive_phone.png");
        width: 376px;
        height: 550px;
    }
    .caption{
        font-size: 18px;
        line-height: 23px;
        padding-top: 100px;
        margin-left: 30px;
        width: 266px;
    }
    .title__end{
       display: none;
    }
    .title_end_mobile{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #333333;
        margin-left: 30px;
    }
    .download__end{
        margin-left: 30px;
        font-size: 14px;
        line-height: 18px;
    }
    .block__right{
        width: 378px;
        height: 560px;
        margin-bottom: 0;
    }
    .block5__left{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 380px){
    .inner {
        flex-direction: column;
        width: 100%;
    }
    .head {
        width: 768px;
        height: 789px;
    }
    body{
        width: 768px;
    }
    .pin {
        width: 337px;
        margin-left: 60px;
        margin-top: 60px;
        display: flex;
        white-space: nowrap;
        font-size: 80px;
        line-height: 94px;
    }
    .pin img {
        width: 82px;
        height: 82px;
        margin-left: 45px;
    }
    .title {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 116.7%;
        color: #FFFFFF;
        margin-left: 61px;
        margin-top: 29px;
    }

    .download {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-left: 60px;
        margin-top: 50px;
    }
    .app img {
        width: 119px;
        height: 40px;
        margin-left: -15px;
    }

    .google img {
        width: 135px;
        height: 40px;
    }

    .phone img {
        width: 360px;
        height: 370px;
        margin-top: -31px;
        margin-left: 206px;
    }
    .block2{
        width: 768px;
        height: 990px;
    }
    h2{
        font-size: 56px;
        line-height: 66px;
        margin-left: 174px;
        margin-top: 45px;
    }
    .title__black{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-left: 120px;
        margin-top: 35px;
        width: 474px;
        height: 91px;
    }
    .title__black br{
        display: none;
    }
    .picture1 img{
        width: 239px;
        height: 210.49px;
        margin-left: -55px;
        margin-top: -30px;
    }
    .picture_1__text{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-left: -10px;
        margin-top: -30px;
    }
    .text__picture2{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-left: 200px;
        margin-top: 3px;
    }
    .picture2 img{
        width: 215px;
        height: 205.24px;
        margin-left: 20px;
    }
    .picture3 img{
        width: 238px;
        height: 211.47px;
        margin-top: 60px;
        margin-left: -50px;
    }
    .text__picture3{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-top: 60px;
        margin-left: -10px;
    }
    .download__black{
        position: absolute;
        margin-top: 640px;
        margin-left: 201px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }
    .app_black img{
        width: 119.66px;
        height: 40px;
        margin-left: -15px;
    }
    .google__black img{
        width: 135px;
        height: 40px;
        margin-right: 30px;
    }
    .block3{
        width: 768px;
        height: 945px;
    }
    .title_block2{
        font-size: 56px;
        line-height: 66px;
        text-align: center;
        margin-top: 60px;
    }
    .sub-title{
        font-weight: 500;
        font-size: 32px;
        line-height: 120.7%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 62px;
    }
    .sub{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 120.7%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        width: 50px;
        margin-left: 100px;
    }
    .block__center{
        background-image: url("image/adaptiv.phone.png");
        background-repeat: no-repeat;
        margin-top: 170px;
        margin-left: 220px;
    }
    .block3__right{
        margin-left: -300px;
    }
    .block4__center{
        width: 300px;
    }
    .new-amway__item {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-left: 30px;
        margin-bottom: 33px;
    }
    .item--1{
        padding: 13px 8px 21px 30px;
        white-space: nowrap;
        width: 160px;
        margin-top: 120px;
    }
    .new-amway__item--n2{
        margin-top: 70px;
        padding: 15px 17px 19px 30px;
        white-space: normal;
        width: 290px;
        word-wrap: normal;
    }
    .item--3{
        padding: 17px 6px 17px 30px;
        word-wrap: normal;
        width: 170px;
        margin-top: 50px;
    }
    .new-amway__item--n4,.new-amway__item--n5,.new-amway__item--n6{
        display: none;
    }
    .new-amway__item:after{
        content: ' ';
        position: absolute;
        margin-left: 23px;
        border: 15px solid;
        border-color: #fff transparent transparent #fff;
    }
    .block4{
        width: 768px;
        height: 864px;
    }
    .title3{
        font-family: Roboto Condensed;
        font-size: 56px;
        line-height: 66px;
        margin-top: 45px;
        margin-left: 31px;
        text-align: center;
    }
    .text{
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        width: 586px;
        height: 63px;
    }
    .text br{
        display: none;
    }
    .block4__center img{
        overflow: visible;
        width: 470px;
        height: 570px;
        filter: drop-shadow(0px 3.99258px 49.9072px rgba(0, 0, 0, 0.1));
        margin-top: 50px ;
    }
    .block4__right{
        margin-left: 450px;
        margin-top: -630px;
        width: 293px;
    }
    .feature--green{
        width: 236px;
        height: 67px;
    }
    .marine{
        width: 236px;
        height: 78px;
    }
    .pink{
        width: 195px;
        height: 70px;
    }
    .indigo{
        width: 254px;
        height: 70px;
    }
    .yellow{
        width: 293px;
        height: 70px;
    }
    .inner__block5{
        background-size: 376px 320px;
        background-image: url("image/adaptive_phone.png");
        width: 376px;
        height: 550px;
    }
    .caption{
        font-size: 24px;
        line-height: 30px;
        padding-top: 100px;
        width: 266px;
    }
    .title__end{
        font-family: Source Sans Pro;
        font-size: 24px;
        line-height: 30px;
        margin-top: 22px;
    }
    .download__end{
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }
    .block5{
        max-width: 768px;

    }
    .block__right{
        width: 768px;
        height: 600px;
    }
    .title_end_mobile{
        display: none;
    }
}
@media screen and (min-width: 400px) {
    .title_end_mobile{
        display: none;
    }
}